<section class = "container" [@fadeIn]>
  <header>
    <h1>{{articleText | uppercase}}</h1>
  </header>
  <mat-card *ngFor="let article of articles">
  <article class = "row">
    <div class = "col-md-3">
      <div claas = "img-container">
        <img src = {{article.value.downloadedUrl}} class = "img-fluid"/>
      </div>
    </div>
    <div class = "col-md-9">
      <div class = "article-summary-container">
        <h3>{{article.value.title}}</h3>
        <p>{{article.value.description}}</p>
        <p>{{article.value.createdAt}}</p>
        <p><mat-icon>{{article.value.likes ? 'favorite' : 'favorite_border'}}</mat-icon><small>{{article.value.likes}}</small></p>
      </div></div>
  </article>
  </mat-card>
</section>
