/* place holder */
.flex_items_centered {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.transition_dissapear_text {
  transform: translateY(-300px);
  opacity: 0;
}

@keyframes radiate {
  from{text-shadow: 3px 3px black}
  to{text-shadow: 3px 3px deepskyblue}
}

@keyframes up-down {
  from{transform: translateY(0)}
  to{transform: translateY(-5px)}
}

@keyframes card-drop {
  from{transform: translateY(-500px)}
  to {transform: translateY(0)}
}

.category-group {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .category-item {
    cursor: pointer;
    color: white;
    flex: 1;
    height: 100%;
    text-align: center;
    align-content: center;
    -webkit-transition: .4s ease-in;
    -moz-transition: .4s ease-in;
    -ms-transition: .4s ease-in;
    -o-transition: .4s ease-in;
    transition: .7s ease-in;
    position: relative;

    h1 {
      font-weight: bold;
      text-shadow: 3px 3px black;
      transition: .5s ease-in-out;
    }
    i {
      font-size: 2em;
      text-shadow: 3px 3px black;
      transition: .5s ease-in-out;
    }

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 75px 13px inset;
      transition: .3s ease-in-out;
    }
    &:hover {
      h1 {
        animation-name: radiate;
        animation-duration: .6s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }

      i {
        animation-name: radiate, up-down;
        animation-duration: .6s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }
    }
  }
  .active {
    h1 {
      @extend .transition_dissapear_text;
    }
    i {
      @extend .transition_dissapear_text;
    }
  }

  .home {
    background-image: url('/assets/images/home-bg.jpg');
    @extend .flex_items_centered;
  }

  .personal {
    background-image: url('/assets/images/personal-bg.jpg');
    @extend .flex_items_centered;
  }

  .business {
    background-image: url('/assets/images/business-bg.jpg');
    @extend .flex_items_centered;
  }

  .random {
    background-image: url('/assets/images/random-bg.jpg');
    @extend .flex_items_centered;
  }
}
