<section class = "container">
  <header>
    <h1>Personal Articles, Okarinasai</h1>
  </header>
  <article class = "row">
    <div class = "col-md-3">
      <div claas = "img-container">
        <img src = "https://images.unsplash.com/photo-1524088484081-4ca7e08e3e19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=724&q=80" class = "img-fluid"/>
      </div>
    </div>
    <div class = "col-md-9">
      <div class = "article-summary-container">
        <h3>My Childhood</h3>
        <p>It all started when I was born, I stumbled and found a dark tunnel and ev...</p>
      </div></div>
  </article>
  <article class = "row">
    <div class = "col-md-3">
      <div claas = "img-container">
        <img src = "https://images.unsplash.com/photo-1524088484081-4ca7e08e3e19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=724&q=80" class = "img-fluid"/>
      </div>
    </div>
    <div class = "col-md-9">
      <div class = "article-summary-container">
        <h3>My Childhood</h3>
        <p>It all started when I was born, I stumbled and found a dark tunnel and ev...</p>
      </div></div>
  </article>
  <article class = "row">
    <div class = "col-md-3">
      <div claas = "img-container">
        <img src = "https://images.unsplash.com/photo-1524088484081-4ca7e08e3e19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=724&q=80" class = "img-fluid"/>
      </div>
    </div>
    <div class = "col-md-9">
      <div class = "article-summary-container">
        <h3>My Childhood</h3>
        <p>It all started when I was born, I stumbled and found a dark tunnel and ev...</p>
      </div></div>
  </article>
</section>
