header {
  margin-top: 5%;
  text-align: center;
}

article {
  margin: 10% 0;
  .article-summary-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

mat-card{
  margin-bottom: 2%;
}
