.flex_items_centered {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-group {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .category-item {
    flex: 1;
    height: 100%;
    text-align: center;
    align-content: center;
    -webkit-transition: .4s ease-in;
    -moz-transition: .4s ease-in;
    -ms-transition: .4s ease-in;
    -o-transition: .4s ease-in;
    transition: .4s ease-in;
  }

  .home {
    background-image: url('src/assets/images/home-bg.jpg');
    @extend .flex_items_centered;
  }

  .personal {
    background-image: url('src/assets/images/personal-bg.jpg');
    @extend .flex_items_centered;
  }

  .business {
    background-image: url('src/assets/images/business-bg.jpg');
    @extend .flex_items_centered;
  }

  .random {
    background-image: url('src/assets/images/random-bg.jpg');
    @extend .flex_items_centered;
  }
}
